# Archivos generados por el sistema de construcción
build/
.gradle/

# Archivos específicos de entorno o configuración del sistema de construcción
gradlew
gradlew.bat

# Archivos específicos de configuración del IDE
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/

# Archivos de salida generados durante la ejecución
out/

# Archivos de dependencias de construcción
build.gradle
build.gradle.kts